.html{
  overflow-y:hidden
}
.menu-item {
    padding: 0 40px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
    overflow-y: hidden;
  }
.menu-item-wrapper.active {
  border: 0px;
}
.menu-item.active {
  border: 0px;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}